node_modules
.idea
dist
build
out
temp
lerna-debug.log
packages/*/yarn.lock
packages/*/yarn-error.log
examples/*/yarn.lock
packages/*/yarn-error.log
yarn-error.log

.DS_Store

lib/core/metadata.js
lib/core/MetadataBlog.js

website/translated_docs
website/build/
website/yarn.lock
website/functions
website/node_modules
website/i18n/*

docs/api/**/*.md

test-results/
junit.xml

yarn.lock
package-lock.json
