@charset "UTF-8";
/**
 * 1) Compile with https://www.sassmeister.com/
 * 2) Copy-paste to ./custom.css
 */
/* source: https://fonts.googleapis.com/css?family=Montserrat:400,600,700 */
/* cyrillic-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459WRhyzbi.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459W1hyzbi.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459WZhyzbi.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459Wdhyzbi.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_bZF3gTD_u50.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_bZF3g3D_u50.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_bZF3gbD_u50.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_bZF3gfD_u50.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_bZF3gnD_g.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_dJE3gTD_u50.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_dJE3g3D_u50.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_dJE3gbD_u50.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_dJE3gfD_u50.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_dJE3gnD_g.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
body {
  font-family: "Montserrat", sans-serif;
}

textarea, input {
  font: inherit;
}

.Button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

.Hamburmenu {
  width: 36px;
  height: 36px;
  border-radius: 4px;
  border: solid 3px #ffffff;
}
.Hamburmenu > ._hamburger {
  cursor: pointer;
  color: white;
  width: 100%;
  height: 100%;
}
.Hamburmenu > ._menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: fit-content;
  display: flex;
  flex-direction: column;
  z-index: 1;
}
.Hamburmenu > ._menu > ._menu-header {
  padding: 15px 30px;
  background-color: #e8e8ed;
}
.Hamburmenu > ._menu > ._menu-header > ._logo {
  float: left;
  height: 20px;
}
.Hamburmenu > ._menu > ._menu-header > ._close-btn {
  float: right;
  width: 36px;
  height: 36px;
  border-radius: 4px;
  border: solid 3px #ffffff;
}
.Hamburmenu > ._menu > ._menu-header > ._links {
  display: flex;
  flex-direction: column;
  clear: both;
}
.Hamburmenu > ._menu > ._menu-header > ._links > ._link {
  padding: 15px 0px;
  width: 100%;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  font-color: #243265;
}

.Hyperlink {
  cursor: pointer;
  text-decoration: none;
}

.List {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ListGreedyItem {
  background-color: transparent;
  border: none;
  outline: none;
}

.TextArea > ._label {
  display: inline-block;
  margin-left: 10px;
  transform: translateY(14px);
  padding: 0 10px;
  width: fit-content;
  font-size: 14px;
  font-style: normal;
  font-stretch: normal;
  color: #afbed1;
  background-color: white;
}
.TextArea > ._input {
  width: 100%;
  height: 100%;
  display: block;
  padding: 10px;
  resize: none;
  border: solid 1px rgba(120, 151, 188, 0.3);
}

.TextInput > ._label {
  display: inline-block;
  margin-left: 10px;
  transform: translateY(14px);
  padding: 0 10px;
  width: fit-content;
  font-size: 14px;
  font-style: normal;
  font-stretch: normal;
  color: #afbed1;
  background-color: white;
}
.TextInput > ._input {
  width: 100%;
  display: block;
  padding: 10px;
  resize: none;
  border: solid 1px rgba(120, 151, 188, 0.3);
}

.Companies {
  padding: 0 50px;
}
@media only screen and (max-width: 36em) {
  .Companies {
    padding: 0;
  }
}
@media only screen and (max-width: 36em) {
  .Companies {
    padding: 0;
  }
}
.Companies > ._companies-list {
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: solid 1px #d4dde9;
}
@media only screen and (max-width: 36em) {
  .Companies > ._companies-list {
    flex-wrap: wrap;
    height: 250px;
  }
}
.Companies > ._companies-list > ._company > img {
  vertical-align: middle;
  margin: 0;
}
@media only screen and (max-width: 36em) {
  .Companies > ._companies-list > ._company {
    width: calc(50% - 12px);
  }
}
@media only screen and (max-width: 36em) {
  .Companies > ._companies-list > ._company > img {
    width: auto;
    padding: 10px 0;
  }
}
.Companies > ._slogan {
  float: right;
  margin-top: 25px;
  margin-right: 150px;
  font-size: 20px;
  font-style: italic;
  color: #7897bc;
}
@media only screen and (max-width: 36em) {
  .Companies > ._slogan {
    text-align: center;
    margin: 0;
    margin-top: 15px;
    padding: 20px 50px;
    font-size: 16px;
    float: unset;
  }
}

.ContactForm {
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 50px;
  border-top: solid 1px #d4dde9;
}
@media only screen and (max-width: 36em) {
  .ContactForm {
    margin: 0 15px;
    margin-top: 50px;
    margin-bottom: 150px;
  }
  .ContactForm br {
    display: none;
  }
}
.ContactForm > ._title {
  width: fit-content;
  padding: 0 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -18px;
  text-transform: uppercase;
  font-size: 24px;
  text-align: center;
  color: #243265;
  background-color: white;
}
.ContactForm > ._form {
  width: 580px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
@media only screen and (max-width: 36em) {
  .ContactForm > ._form {
    width: 100%;
  }
}
.ContactForm > ._form > ._name {
  width: calc(50% - 10px);
  margin-right: 10px;
  float: left;
}
@media only screen and (max-width: 36em) {
  .ContactForm > ._form > ._name {
    width: 100%;
    float: unset;
  }
}
.ContactForm > ._form > ._email {
  width: calc(50% - 10px);
  margin-left: 10px;
  float: left;
}
@media only screen and (max-width: 36em) {
  .ContactForm > ._form > ._email {
    width: 100%;
    float: unset;
    margin: 0;
  }
}
.ContactForm > ._form > ._details {
  height: 200px;
}
.ContactForm > ._form > ._bottom {
  width: 100%;
  margin-top: 90px;
}
@media only screen and (max-width: 36em) {
  .ContactForm > ._form > ._bottom {
    margin-top: 50px;
  }
}
.ContactForm > ._form > ._bottom > ._channel {
  float: left;
  width: 26px;
  height: 100%;
  margin-right: 20px;
}
.ContactForm > ._form > ._bottom > ._channel > img {
  margin: 0;
}
.ContactForm > ._form > ._bottom > ._send-button {
  width: 180px;
  height: 45px;
  float: right;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: #115ee1;
  color: white;
  font-size: 14px;
  font-weight: 600;
}
.ContactForm > ._form > ._bottom > ._send-button._sending {
  color: gray;
  background-color: silver;
  cursor: default;
}
.ContactForm > ._form > ._error-message {
  width: 100%;
  margin-top: 15px;
  float: left;
  color: red;
}

.Features {
  padding: 0 50px;
  margin-top: 150px;
}
@media only screen and (max-width: 36em) {
  .Features {
    padding: 0 20px;
    margin-top: 50px;
  }
}
.Features > ._features-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
@media only screen and (max-width: 36em) {
  .Features > ._features-list {
    flex-wrap: wrap;
  }
}
.Features > ._features-list > ._feature {
  width: 20%;
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
@media only screen and (max-width: 36em) {
  .Features > ._features-list > ._feature {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.Features > ._features-list > ._feature > img {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 100px;
}
.Features > ._features-list > ._feature > ._title {
  width: 100%;
  height: 50px;
  margin-top: 20px;
  font-size: 17px;
  font-weight: 900;
  text-align: center;
  color: #115ee1;
  text-transform: uppercase;
}
.Features > ._features-list > ._feature > ._description {
  width: 100%;
  padding-top: 5px;
  font-size: 15px;
  text-align: center;
  color: #677897;
}

.FrameworkDetails {
  padding: 0 50px;
  margin-top: 100px;
  padding-bottom: 200px;
  position: relative;
}
@media only screen and (max-width: 36em) {
  .FrameworkDetails {
    margin-top: 80px;
    padding: 0 20px;
    padding-bottom: 300px;
  }
}
.FrameworkDetails > ._details {
  width: 530px;
}
@media only screen and (max-width: 36em) {
  .FrameworkDetails > ._details {
    width: 100%;
  }
}
.FrameworkDetails > ._details > ._title {
  font-size: 36px;
  color: #243265;
  line-height: 45px;
  line-height: 0.1;
}
@media only screen and (max-width: 36em) {
  .FrameworkDetails > ._details > ._title {
    font-size: 25px;
  }
}
.FrameworkDetails > ._details > ._title > ._apollo-logo {
  width: 190px;
  transform: translateY(23px);
  margin-left: -13px;
}
@media only screen and (max-width: 36em) {
  .FrameworkDetails > ._details > ._title > ._apollo-logo {
    width: 150px;
    transform: translateY(20px);
  }
}
.FrameworkDetails > ._details > ._subtitle {
  margin-top: 25px;
  font-size: 16px;
  text-align: justify;
  color: #677897;
}
.FrameworkDetails > ._bg-workers {
  position: absolute;
  z-index: -1;
  right: 50px;
  bottom: 50px;
  width: 500px;
}
@media only screen and (max-width: 36em) {
  .FrameworkDetails > ._bg-workers {
    right: 15px;
    width: calc(100% - 30px);
  }
}

.GQLQuote {
  background-color: #115ee1;
  padding-top: 100px;
  padding-bottom: 100px;
}
@media only screen and (max-width: 36em) {
  .GQLQuote {
    padding: 50px 50px;
  }
}
.GQLQuote > ._body {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 36em) {
  .GQLQuote > ._body {
    width: 100%;
  }
}
.GQLQuote > ._body > ._subtitle {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  color: #022f7c;
}
.GQLQuote > ._body > ._title {
  margin-top: 30px;
  font-size: 34px;
  font-weight: 600;
  text-align: center;
  color: rgba(255, 255, 255, 0.87);
}
@media only screen and (max-width: 36em) {
  .GQLQuote > ._body > ._title {
    font-size: 25px;
    line-height: 1.2;
  }
}
.GQLQuote > ._body > ._quote {
  position: relative;
  margin-top: 35px;
  font-size: 16px;
  font-style: italic;
  text-align: center;
  color: #ffffff;
}
@media only screen and (max-width: 36em) {
  .GQLQuote > ._body > ._quote {
    font-size: 14px;
  }
}
.GQLQuote > ._body > ._quote > ._open-quote {
  position: absolute;
  top: -50px;
  left: -50px;
}
.GQLQuote > ._body > ._quote > ._close-quote {
  position: absolute;
  bottom: -50px;
  right: -50px;
}

.Intro {
  width: 100%;
  height: 730px;
  background-color: #13114a;
  position: relative;
  padding: 25px 50px;

  background-color: #13114a;
  background-image: url(/img/hexagonal.svg);
  background-repeat: no-repeat;
  background-size: 800px auto;
  background-position: left -370px bottom -310px;
}
@media only screen and (max-width: 36em) {
  .Intro {
    padding: 15px 30px;
  }
}
.Intro > ._start-section {
  width: 530px;
  padding-top: 230px;
}
@media only screen and (max-width: 36em) {
  .Intro > ._start-section {
    width: 100%;
    padding-top: 100px;
  }
}
.Intro > ._start-section > ._title {
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 1.25;
}
@media only screen and (max-width: 36em) {
  .Intro > ._start-section > ._title {
    font-size: 30px;
  }
}
.Intro > ._start-section > ._subtitle {
  padding-top: 20px;
  font-size: 16px;
  line-height: 1.5;
  color: #c1caff;
}
@media only screen and (max-width: 36em) {
  .Intro > ._start-section > ._subtitle {
    font-size: 14px;
  }
}
.Intro > ._start-section > a > ._start-button {
  width: 180px;
  height: 45px;
  transform: translateY(0);
  margin-top: 60px;
  border-radius: 4px;
  box-shadow: 10px 12px 24px 0 rgba(17, 94, 225, 0.37);
  background-color: #115ee1;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
}
.Intro > ._bg-rocket {
  position: absolute;
  margin: 0;
  bottom: 0;
  right: 0;
  z-index: 101;
}

.LearnSection {
  text-align: center;
  justify-content: center;
}
@media only screen and (max-width: 36em) {
  .LearnSection {
    padding: 0 15px;
  }
}
.LearnSection > ._capabilities {
  margin-top: 150px;
}
@media only screen and (max-width: 36em) {
  .LearnSection > ._capabilities {
    margin-top: 50px;
  }
}
.LearnSection > ._capabilities > ._title {
  font-size: 34px;
  color: #243265;
}
@media only screen and (max-width: 36em) {
  .LearnSection > ._capabilities > ._title {
    font-size: 25px;
    line-height: normal;
  }
}
.LearnSection > ._capabilities > ._subtitle {
  margin-top: 20px;
  font-size: 16px;
  color: #677897;
}
@media only screen and (max-width: 36em) {
  .LearnSection > ._capabilities > ._subtitle {
    font-size: 14px;
    line-height: 1.4;
  }
}
.LearnSection > ._capabilities > ._features {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
}
@media only screen and (max-width: 36em) {
  .LearnSection > ._capabilities > ._features {
    flex-direction: column;
    margin-top: 50px;
  }
}
.LearnSection > ._capabilities > ._features > ._feature {
  width: 290px;
}
@media only screen and (max-width: 36em) {
  .LearnSection > ._capabilities > ._features > ._feature {
    width: 100%;
    margin-bottom: 50px;
  }
}
.LearnSection > ._capabilities > ._features > ._feature > ._box {
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  width: 110px;
  height: 110px;
  border: solid 4px #115ee1;
  background-color: #ffffff;
  color: #115ee1;
}
.LearnSection > ._capabilities > ._features > ._feature > ._box > ._icon {
  margin: 0;
  margin-top: 5px;
  height: 35px;
  object-fit: contain;
}
.LearnSection > ._capabilities > ._features > ._feature > ._box > ._title {
  font-size: 20px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
}
.LearnSection > ._capabilities > ._features > ._feature > ._description {
  margin-top: 20px;
  font-size: 16px;
  text-align: center;
  color: #677897;
}
.LearnSection > ._learn {
  margin-top: 150px;
}
@media only screen and (max-width: 36em) {
  .LearnSection > ._learn {
    margin-top: 50px;
  }
}
.LearnSection > ._learn > ._title {
  font-size: 34px;
  color: #243265;
}
@media only screen and (max-width: 36em) {
  .LearnSection > ._learn > ._title {
    font-size: 25px;
    line-height: normal;
  }
}
.LearnSection > ._learn > ._subtitle {
  margin-top: 20px;
  font-size: 16px;
  color: #677897;
}
@media only screen and (max-width: 36em) {
  .LearnSection > ._learn > ._subtitle {
    font-size: 14px;
    line-height: 1.4;
  }
}
.LearnSection > ._learn > ._video {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 36em) {
  .LearnSection > ._learn > ._video {
    margin-top: 50px;
    width: calc(100vw - 30px);
    height: calc(57vw - 17px);
  }
}

.ContactUs {
  margin-top: 50px;
  color: #243265;
  padding: 0 20px;
  margin-bottom: 50px;
}

@media only screen and (max-width: 36em) {
  .ContactUs {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.ContactUs > ._kicker {
  text-align: center;
}

.ContactUs > ._title {
  margin-top: 0;
  text-align: center;
}

.ContactUs > ._subtitle {
  width: 800px;
  text-align: center;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  color: #677897;
}

.ContactUs > ._subtitle > a {
  text-decoration: underline;
}

@media only screen and (max-width: 36em) {
  .ContactUs > ._kicker {
    font-size: 22px;
  }
  .ContactUs > ._title {
    font-size: 28px;
  }
  .ContactUs > ._subtitle {
    width: 100%;
    text-align: justify;
    font-size: 16px;
  }
}

.ContactUs > ._links {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 80px;
}

.ContactUs > ._links > ._channel > img {
  width: 26px;
  padding: 5px;
}

.mainContainer .docs-next {
  float: right !important;
  clear: right !important;
}

.mainContainer .docs-prev {
  float: left !important;
}

#docsNav {
  border-right: solid 1px #b4bcd9;
}
#docsNav .navGroupCategoryTitle {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  color: #243265;
  text-transform: uppercase;
  font-weight: 600;
  border-bottom: solid 1px #e6ecf4;
  padding-left: 10px;
  margin-left: -10px;
  line-height: 2.5;
}
#docsNav .navGroup ul {
  border-left: solid 1px #e6ecf4;
  padding-bottom: 0;
  transform: translateY(-15px);
  clip-path: inset(15px 0 -999px -999px);
}
#docsNav .navListItem {
  padding: 5px 0;
  transform: translateY(20px);
}
#docsNav .navListItem a {
  font-size: 16px;
  color: #677897;
  padding-left: 5px;
}
#docsNav .navListItem a::before {
  height: 8px;
  transform: translateY(-1px) translateX(-5px);
  background-color: white;
  content: "○";
  display: inline-block;
  margin-left: -13px;
  margin-right: 4px;
  line-height: 0.5;
}
#docsNav .navListItem.navListItemActive a {
  color: #115ee1;
  font-weight: 600;
  padding-left: 9px;
}
#docsNav .navListItem.navListItemActive a::before {
  margin-right: 8px;
  transform-origin: center;
  transform: translateY(-2px) translateX(-7px) scale(2);
  background-color: transparent;
  content: "•";
}

.fixedHeaderContainer {
  padding-top: 25px;
  padding-bottom: 25px;
  z-index: 99;
  position: relative;
}

.navPusher {
  padding-top: 0;
  position: static;
}

.headerTitleWithLogo {
  display: none !important;
}

.projectTitle {
  font-family: "Montserrat";
  font-size: 40px;
  font-weight: bold;
  line-height: 1.23;
  color: #ffffff;
}

footer {
  pointer-events: auto;
  padding-top: 16px !important;
  padding-bottom: 8px !important;
  display: flex;
  justify-content: space-around;
}
footer .nav-footer {
  background-color: #13114a;
}
footer .navCopyright {
  font-family: "Montserrat";
  font-size: 14px;
  color: #b0b7dd;
}
footer .navMenu {
  display: flex;
}
footer .navMenu > * {
  margin-left: 25px;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 500;
  line-height: 1.64;
  color: #ffffff;
}

.backgroundTop {
  pointer-events: none;
  background-size: 800px auto;
  background: url(/img/hexagonal.svg) no-repeat right -245px top -80px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
}

@media only screen and (max-width: 1023px) {
  footer .navMenu {
    display: none;
  }

  footer .navCopyright > span:first-child {
    display: none;
  }

  header {
    position: static !important;
  }

  header .navigationSlider {
    position: static;
  }

  header .slidingNav {
    position: absolute !important;
  }

  .backgroundTop {
    background: none;
  }

  .Intro {
    background-image: none;
  }

  .Intro > ._start-section {
    padding-top: 50px;
  }

  .docsNavContainer {
    position: absolute;
  }

  #docsNav .navListItem {
    margin-left: 8px;
  }

  .navBreadcrumb.wrapper {
    z-index: 1;
  }
}